<div class="text-center">
  <h1> List User</h1>
</div>
<br>
<div>
  <a type="button" [routerLink]="['add']" class="btn btn-primary">ADD</a>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">Role</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users let i = index">
    <th scope="row">{{i+1}}</th>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td>{{user.address}}</td>
    <ng-container *ngFor="let role of roles">
      <td *ngIf="role.id == user.role">{{role.name}}</td>
    </ng-container>
    <td><a type="button" class="btn btn-primary" [routerLink]="[user.id,'edit']">Edit</a></td>
    <td><a (click)="delete(user.id)" class="btn btn-danger">Delete</a></td>
  </tr>
  </tbody>
</table>
